
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* *{
    padding: 0;
    margin: 0;
} */

/* shared class */

.display-flex{
    display: flex;
}

.text-primary{
    color: #FF900E;
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

/* dark-2 */
.text-gray{
    color: #424242;
}
/* dark-3 */
.text-lightgray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

/* header style */



/* navber related style */

.brand{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
    
    
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}

.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar , .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.banner-contant{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;


}

.banner-discription{
    font-size: 1rem;
    margin-bottom: 32px;
    
}

.banner-img{
    width: 100%;
    margin-bottom: 45px;
}

.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.our-features{
    margin-left: 73px;
    max-width: 537px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

#quick-list{
    font-weight: 500;

}

/* resposive queary */

@media screen and (max-width:576px) {
    .nav-links , .navbar , .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1 , 1fr);
    }
}
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 20px auto;
    }
}