
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared class */

.display-flex{
    display: flex;
}

.text-primary{
    color: #FF900E;
}
/* dark-2 */
.text-gray{
    color: #424242;
}
/* dark-3 */
.text-lightgray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}